body {
    margin: 0;
    padding: 0; 
    width: 100vw;
    height: 100vh;
  }

  div
  {
      /* border: 1px solid black; */
  }

  .row
  {
      height: 100vh;
  }

  section
  {
      /* background-image: url("https://images.unsplash.com/photo-1511406361295-0a1ff814c0ce?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d3dbc6883f359a2fb11b6466955a941"); */
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  section > div
  {
      /* background-color:rgba(0, 0, 0, 0.2); */
  }
  

  .about_div_right, .about_div_left
  {
      color:#ccc;
  }
  .about_div_right:hover, .about_div_left:hover
  {
      color: #fff;
      background-color:rgba(255, 255, 255,0.1);
      cursor: pointer;
  }
  

  .mainAnimation
  {
      height: 80vh;
      width: 100vw;
  }

  #menuAnimations
  {
      background: #000;
  }


/*Index - Square Trnasition */
  .squareCircle_Transition_mainElement
  {
    width: 200px;
    height: 200px;
    background-color: #ddd;

    animation: rotateAnimation 3s cubic-bezier(1,.015,.295,1.225);
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }


  /* 2nd - Ball Bouncing */
  .ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd;
    /* margin-bottom:  */
    

    /* animation */
    animation: bounce 0.5s cubic-bezier(0.6, 0.01, 0.8, 0.41);
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
  }
  .shadow {
    width: 150px;
    height:10px;
    border-radius: 50%;
    background: #000;
    margin-top: 180px;
    position: fixed;
	left: 50%;
	top: 50%;
    margin: 135px 0 0 -106px;
    z-index: 0;
    padding-left: 5px;
    
    /* animation */
    animation: shadowDrop 0.5s cubic-bezier(0.6, 0.01, 0.8, 0.41);;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
  }
  
  .index05_column_01
  {
      background-color: #FF5722;
  }

  #hamburger
  {
      width: 75px; 
      height:75px;
      cursor: pointer;
  }


  @media (max-width: 575.98px)
  {
    .squareCircle_Transition_mainElement
    {
        width: 75px;
        height: 75px;
        
    }

    .ball 
    {
        width: 50px;
        height: 50px;
        margin-top: -150px;
    }
    .shadow
    {
        width: 100px;
        height: 5px;
        left: 63%;
        top:44%;
    }
    #mountains_backgroundMountains
    {
        width: 300px;
        height: 300px;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px)
  {
    .squareCircle_Transition_mainElement
    {
        width: 100px;
        height: 100px;
    }

    .ball 
    {
        width: 75px;
        height: 75px;
        margin-top: -150px;
    }
    .shadow
    {
        width: 100px;
        height: 5px;
        left: 59%;
        top:49%;
    }
    #mountains_backgroundMountains
    {
        width: 400px;
        height: 400px;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px)
  {
    .squareCircle_Transition_mainElement
    {
        width: 150px;
        height: 150px;
        
    }

    .ball 
    {
        width: 100px;
        height: 100px;
        margin-top: -150px;
    }
    .shadow
    {
        width: 150px;
        height: 10px;
        left: 54%;
        top:52px;
    }
    #mountains_backgroundMountains
    {
        width: 600px;
        height: 600px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px)
  {
    .squareCircle_Transition_mainElement
    {
        width: 175px;
        height: 175px;
    }

    .ball 
    {
        width: 100px;
        height: 100px;
        margin-top: -200px;
    }
    .shadow
    {
        width: 150px;
        height: 10px;
        left: 53%;
        top:44%;
    }
    #mountains_backgroundMountains
    {
        width: 600px;
        height: 600px;
    }
  }

  @media (min-width: 1200px) 
  {
    .squareCircle_Transition_mainElement
    {
        width: 200px;
        height: 200px;
    }

    .ball 
    {
        width: 100px;
        height: 100px;
        margin-top: -200px;
    }
    .shadow
    {
        width: 150px;
        height: 10px;
        left: 52%;
        top:44%;
    }
    #mountains_backgroundMountains
    {
        width: 800px;
        height: 800px;
    }
  }






  /* Ball Bouncing Animation */
  @keyframes bounce
  {
      from
      {
          transform: translate3d(0,0,0);
          background: pink;
          
      }
      to
      {
          transform: translate3d(0,200px,0);
          background: #FF5722;
      }
  }
  @keyframes shadowDrop
  {
      from
      {
          transform: scale(0.2);
          filter: blur(15px);
          
      }
      to
      {
        transform: scale(0.6);
        filter:blur(2px);
        
      }
  }



  /*Rotating Moving Circle */
  .square_element
  {
      width: 100px;
      height: 100px;
      background-color: #ddd;
      position: fixed;
      left: 80vw;
      top: 50vh;
      transform-origin: left bottom;

    animation: squareAnimation 50s;
    animation-iteration-count: infinite;

  }
  .square_shadow 
  {
      width: 120px;      
      height:2px;    
      border-radius: 20%;    
      background:#000;    
      position: fixed;	
      left: 80vw;    
      top: 50vh;    
      margin-top: 100px;     
      z-index: 1;
      filter: blur(1px);
  }
  @keyframes squareAnimation
  {
      10%
      {
          transform: rotateZ(-180deg);
      }
      20%
      {
        transform-origin: 0 0 0;       
        transform: rotateZ(-180deg);   
          
      }
      100%
      {
        transform-origin: 0 0 0; 
          transform:rotateZ(-180deg);
      }
  }

 

  /* Circle - Square Transition */
  @keyframes rotateAnimation
  {
      0%
      {
        transform: rotate(0deg);
        border-radius: 0% 0% 0% 0%;
      }
      25%
      {
          transform: rotate(45deg);
          border-radius: 50% 0% 0% 0%;
          background: brown;
      }
      50%
      {
          transform: rotate(90deg);
          border-radius: 50% 50% 0% 0%;
          background: skyblue;
      }
      75%
      {
          transform: rotate(135deg);
          border-radius: 50% 50% 50% 0%;
          background: yellow;
      }
      100%
      {
          transform: rotate(180deg);
          border-radius: 50% 50% 50% 50%;
          background: green;
      }
  }
  
  
  .circleGroup 
  {
      max-width: 15rem;
      width: 100%;
      height: auto;
      stroke-linecap: round;
  }

  circle
  {
      fill: none;
      stroke-width: 5px;
      animation: rotatingCircle 10s cubic-bezier(0.4, 0, 0.51, 0.99);
      animation-iteration-count: infinite;
      animation-direction: normal;
      transform-origin: 170px 170px;
      will-change: transform;
  }
  
  circle:nth-of-type(1) 
  {
      stroke-dasharray: 50px;
  }
  circle:nth-of-type(2) 
  {
      stroke-dasharray: 100px;
  }
  circle:nth-of-type(3) 
  {
      stroke-dasharray: 110px;
  }
  circle:nth-of-type(4) 
  {
      stroke-dasharray: 120px;
  }

  @keyframes rotatingCircle
  {
      50%
      {
          transform: rotate(360deg);
          stroke-dasharray:550px;
          stroke-width: 10px;
      }
  }

  @keyframes rotatingAndShrink
  {
      from
      {
          width: 1000px;
          height: 1000px;
      }
      to
      {
          height: 200px;
          width: 200px;
          transform: rotate(360deg);
      }
  }



  
  #balloon
  {
      animation: balloonMoving 2.5s cubic-bezier(0.37, -0.03, 0.71, 0.97);
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }

  #cloud5, #cloud3
  {
      animation: cloudRightToleft 30s cubic-bezier(0.37, -0.03, 0.71, 0.97);
      animation-iteration-count: infinite;
  }

  #cloud2
  {
      animation-delay: 5s;
      animation: cloudRightToleft_2 30s cubic-bezier(0.37, -0.03, 0.71, 0.97);
      animation-iteration-count: infinite;
  }

  #cloud1, #cloud4
  {
      animation-delay: 2s;
    animation: cloudRightToleft 35s cubic-bezier(0.37, -0.03, 0.71, 0.97);
    animation-iteration-count: infinite;
  }
  
  #river_stroke6, #river_stroke5
  {
    animation: riverMovement 2.5s cubic-bezier(0.37, -0.03, 0.71, 0.97);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #river_stroke4, #river_stroke3
  {
      animation-delay: 3s;
    animation: riverMovement 4s cubic-bezier(0.37, -0.03, 0.71, 0.97);
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #river_stroke1, #river_stroke2
  {
      animation-delay: 1s;
    animation: riverMovement 2s cubic-bezier(0.37, -0.03, 0.71, 0.97);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  #fish
  {
      animation-delay: 1s;
    animation: fishMovement 30s cubic-bezier(0.37, -0.03, 0.71, 0.97);
    animation-iteration-count: infinite;
  }

  @keyframes balloonMoving
  {
      from
      {
          transform: translateY(-20px);
      }
      to
      {
          transform: translatey(20px);
      }
  }

  @keyframes cloudRightToleft
  {
    from
    {
        transform: translateX(-90vh);
    }
    to
    {
        transform: translateX(60vh);
    }
  }

  @keyframes cloudRightToleft_2
  {
    from
    {
        transform: translateX(-50vh);
    }
    to
    {
        transform: translateX(80vh);
    }
  }

  @keyframes riverMovement
  {
      from
      {
          transform: translateX(-10px);
      }
      to
      {
          transform: translateX(10px);
      }
  }

  @keyframes fishMovement
  {
      from
      {
          transform: translateX(60vh);
      }
      to
      {
          transform: translateX(-60vh);
      }
  }

  /* #hamburger:hover
  {
    -webkit-filter: drop-shadow( 0px 2px 3px #000 ); 
    filter: drop-shadow( 0px 2px 3px #000 );
  } */


  .hamburger_2
  {
      transform-origin: center;

  }

  .hamburger_2.animated
  {
      transform-origin: center;
      animation: hamburgerAnimation 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      -webkit-filter: drop-shadow( 0px 2px 3px #000 ); 
        filter: drop-shadow( 0px 2px 3px #000 );
  }

  .hamburger_4
  {
      transform-origin: center;
      /* animation: hamburgerAnimation_rev 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate; */
  }

  .hamburger_4.animated
  {
      animation: hamburgerAnimation_rev 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      -webkit-filter: drop-shadow( 0px 2px 3px #000 ); 
        filter: drop-shadow( 0px 2px 3px #000 );
  }

  .hamburger_1.animated, .hamburger_3.animated
  {
    animation: hamburgerAnimation_opacity 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    -webkit-filter: drop-shadow( 0px 2px 3px #000 ); 
        filter: drop-shadow( 0px 2px 3px #000 ); 
  }


  #hamburger:hover
  {
        -webkit-filter: drop-shadow( 0px 2px 3px #000 ); 
        filter: drop-shadow( 0px 2px 3px #000 );
  }

  
  @keyframes hamburgerAnimation
  {
      to
      {
        transform: rotate(45deg);
      }
  }

  @keyframes hamburgerAnimation_rev
  {
      to
      {
        transform: rotate(-45deg);
      }
  }

  @keyframes hamburgerAnimation_opacity
  {
      to
      {
          opacity: 0;
      }
  }